* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

canvas#myCanvas {
    background-color: rgba(50, 50, 50, 1);
    height : 100%;
    left : 0;
    position: fixed;
    top: 0;
    width: 100%;
}